@import "details.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
  background-color: rgb(46, 43, 43);
  color: white;
  font-family: monospace;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.25rem;
}

/* .minerals {
  display:none;
} */

.fieldset-auto-width {
  float: left;
  width: 30%;
  border:2px solid darkgray;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;	
}

.fieldset-set-right {
  float:center;
  width:30%; 
  top: 100px;
  border:2px solid darkgray;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;	
}


